{{define "admin/role/index.html"}}
{{template "admin/public/page_header.html" .}}

<body>

   
    <!--
        列表展示
    -->
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr class="th">
                <th>角色名称</th>
                <th>角色描述</th>
                <th>角色状态</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>

            {{range $k,$v := .roleList}}
            <tr>
                <td>{{$v.Title}}</td>
                <td>{{$v.Description}}</td>

                <td align="center">
                    {{if eq $v.Status 1}}
                    <img class="chStatus" data-id="{{$v.Id}}" data-table="role" data-field="status" src="/static/admin/images/yes.gif" />
                    {{else}}
                    <img class="chStatus" data-id="{{$v.Id}}" data-table="role" data-field="status" src="/static/admin/images/no.gif" />
                    {{end}}
                </td>

                <td class="text-center">
                    <a class="btn btn-info" href="/admin/role/edit?id={{$v.Id}}">修改</a>
                    <a class="btn btn-primary" href="/admin/role/auth?id={{$v.Id}}">授权</a>
                    <a class="btn btn-danger delete"  href="/admin/role/delete?id={{$v.Id}}">删除</a>
                </td>
            </tr>

            {{end}}
            </tbody>
        </table>
    </div>


</body>
</html>

{{end}}